# pixi environments
.pixi/*
!.pixi/config.toml
# Python packaging
dist/
build/
*.egg-info/
*.pyc
*.ipynb
.agents/*
plans/*
skills-lock.json
tests/test.json
examples/cairo/cairo_smoke_2
todo.md
*.h
*.mojo
io_uring.json
io_uring.rs
